/**
 * All of the CSS for your public-facing functionality should be
 * included in this file.
 */


 :root {
         --main-background-color : red;
         --secondary-background-color : green;
         --main-color : magenta;
         --secondary-color : white;
         --sidebar-background-color : blue;
         --sidebar-color : orange;

         --sidebar-border: 1px solid black ;
         --sidebar-font-size: 15px;
         --sidebar-padding:3px;
         --sidebar-margin-right:0px;
         --sidebar-margin-left:0px;
         --sidebar-margin-bottom:10px;
         --sidebar-margin-top:10px;
         --sidebar-h3-font-size:17px;
         --sidebar-h3-font-size-large:20px;
         --sidebar-p-font-size:15px;


         --single-item-background-color: var(--secondary-background-color);
         --single-item-color: var(--secondary-color);
         --single-item-secondary-color: var(--main-color);
         --single-item-border: 1px solid black ;
         --single-item-font-size: 15px;
         --single-item-padding:20px;
         --single-item-margin-right:5px;
         --single-item-margin-left:5px;
         --single-item-margin-bottom:10px;
         --single-item-margin-top:10px;
         --single-item-h3-font-size:17px;
         --single-item-h3-font-size-large:20px;
         --single-item-p-font-size:15px;

         --faculty-color: var(--main-color);
         --faculty-font-size: 25px;
         --faculty-border: 0px;
         --faculty-padding:20px;
         --faculty-margin-right:5px;
         --faculty-margin-left:5px;
         --faculty-margin-bottom:10px;
         --faculty-margin-top:10px;

         --h1-page-title-font-size:25px;
       }

 /*
  * Globals
  */

 body {
   font-family: Georgia, "Times New Roman", Times, serif;
   color: var(--main-color);
 }

 h1, .h1,
 h2, .h2,
 h3, .h3,
 h4, .h4,
 h5, .h5,
 h6, .h6 {
   margin-top: 0;
   font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
   font-weight: normal;
   color: var(--main-color);
 }


 /*
  * Override Bootstrap's default container.
  */

 @media (min-width: 1200px) {
   .container {
     width: 970px;
   }
 }


 /*
  * Masthead for nav
  */

 .bte-masthead {
   background-color: var(--main-background-color);
   -webkit-box-shadow: inset 0 -2px 5px rgba(0,0,0,.1);
           box-shadow: inset 0 -2px 5px rgba(0,0,0,.1);
   text-align: center;
   width: 100%;
 }

 /* Nav links */
 .bte-nav-item {
   position: relative;
   display: inline-block;
   padding: 10px;
   font-weight: 500;
  }
 .bte-nav-item:hover,
 .bte-nav-item:focus {
   color: var(--secondary-color);
   text-decoration: none;
 }




 /*
  * BTE name and description
  */

 .bte-header {
   padding-top: 20px;
   padding-bottom: 20px;
 }
 .bte-title {
   text-align: center;
   margin-top: 30px;
   margin-bottom: 0;
   font-size: 40px;
   font-weight: normal;
 }



 /*
  * Main column and sidebar layout
  */

 .bte-main {
   font-size: 18px;
   line-height: 1.5;
 }

 /* Sidebar modules for boxing content */
 .sidebar-module {
   padding: 15px;
   margin: 0 -15px 15px;
 }
 .sidebar-module-inset {
   padding: 15px;
   background-color: #f5f5f5;
   border-radius: 4px;
 }
 .sidebar-module-inset p:last-child,
 .sidebar-module-inset ul:last-child,
 .sidebar-module-inset ol:last-child {
   margin-bottom: 0;
 }


 /* Pagination */
 .pager {
   margin-bottom: 60px;
   text-align: left;
 }
 .pager > li > a {
   width: 140px;
   padding: 10px 20px;
   text-align: center;
   border-radius: 30px;
 }


 /*
  * Blog posts
  */

 .blog-post {
   margin-bottom: 60px;
 }
 .blog-post-title {
   margin-bottom: 5px;
   font-size: 40px;
 }
 .blog-post-meta {
   margin-bottom: 20px;
   color: #999;
 }


 /*
  * Footer
  */

 .bte-footer {
   padding: 40px 0;
   color: var(--main-color);
   text-align: center;
   background-color: var(--main-background-color);
 }

footer.bte-footer{
    border-top: 1px solid #e5e5e5;
}

 .bte-footer p:last-child {
   margin-bottom: 0;
 }
 p.bte-footer {
   color: var(--main-color);
   font-size:15px;
 }
 /*
  * Menu
  */
  .navbar-default {
    background-color: var(--secondary-background-color);
    border: 0;
  }
  .navbar-default .navbar-brand {
    color: var(--main-color);
  }
  .navbar-default .navbar-brand:hover,
  .navbar-default .navbar-brand:focus {
    color: var(--main-color);
  }
  .navbar-default .navbar-text {
    color: var(--main-color);
  }
  .navbar-default .navbar-nav > li > a {
    color: var(--main-color);
    font-size: 25px;
  }
  .navbar-default .navbar-nav > li > a:hover,
  .navbar-default .navbar-nav > li > a:focus {
    color: var(--main-color);
  }
  .navbar-default .navbar-nav > .active > a,
  .navbar-default .navbar-nav > .active > a:hover,
  .navbar-default .navbar-nav > .active > a:focus {
    color: var(--main-color);
    background-color: var(--main-background-color);
  }
  .navbar-default .navbar-nav > .open > a,
  .navbar-default .navbar-nav > .open > a:hover,
  .navbar-default .navbar-nav > .open > a:focus {
    color: var(--main-color);
    background-color: var(--main-background-color);

  }
  .navbar-default .navbar-toggle {
  }
  .navbar-default .navbar-toggle:hover,
  .navbar-default .navbar-toggle:focus {
    background-color: var(--main-background-color);
  }
  .navbar-default .navbar-toggle .icon-bar {
    background-color: var(--main-color);
  }
  .navbar-default .navbar-collapse,
  .navbar-default .navbar-form {
  }
  .navbar-default .navbar-link {
    color: var(--main-color);
  }
  .navbar-default .navbar-link:hover {
    color: var(--main-color);
  }

  @media (max-width: 767px) {
    .navbar-default .navbar-nav .open .dropdown-menu > li > a {
      color: var(--main-color);
    }
    .navbar-default .navbar-nav .open .dropdown-menu > li > a:hover,
    .navbar-default .navbar-nav .open .dropdown-menu > li > a:focus {
      color: var(--main-color);
    }
    .navbar-default .navbar-nav .open .dropdown-menu > .active > a,
    .navbar-default .navbar-nav .open .dropdown-menu > .active > a:hover,
    .navbar-default .navbar-nav .open .dropdown-menu > .active > a:focus {
      color: var(--main-color);
      background-color: var(--main-background-color);
    }
  }


/*
* Sidebar
*/

.wpri-sidebar {
  background-color: var(--sidebar-background-color);
  color: var(--sidebar-color);
  font-size: var(--sidebar-font-size,15px);
  padding: var(--sidebar-padding,2px);
  margin-right: var(--sidebar-margin-right,2px);
  margin-left: var(--sidebar-margin-left,2px);
  margin-bottom:var(--sidebar-margin-bottom,2px);
  margin-top:var(--sidebar-margin-top,2px);
}

 /*
  * Faculty
  */

  .faculty {
    color: var(--faculty-color);
    border: var(--faculty-border);
    font-size: var(--faculty-font-size,15px);
	padding: var(--faculty-padding,20px);
	margin-right: var(--faculty-margin-right,5px);
	margin-left: var(--faculty-margin-left,5px);
	margin-bottom:var(--faculty-margin-bottom,10px);
	margin-top:var(--faculty-margin-top,10px);
  }

  .faculty-thumb {
    background-color: var(--single-item-background-color);
    color: var(--single-item-color);
    font-size: var(--single-item-font-size,15px);
	padding: var(--single-item-padding,20px);
	margin-right: var(--single-item-margin-right,5px);
	margin-left: var(--single-item-margin-left,5px);
	margin-bottom:var(--single-item-margin-bottom,10px);
	margin-top:var(--single-item-margin-top,10px);
  }

h1.faculty{
      font-size: var(--h1-page-title-font-size,25px);
  }
div.faculty-thumb{
  border: var(--single-item-border);
}
h3.faculty-thumb{
    font-size: var(--single-item-h3-font-size,15px);
    color: var(--single-item-color);
}
p.faculty-thumb{
    font-size: var(--single-item-p-font-size,15px);
    color: var(--single-item-color);
}

a.faculty-thumb-link{
    font-size: var(--single-item-p-font-size,15px);
    color: var(--single-item-color);
}
a.faculty-thumb-link:hover{
    font-size: var(--single-item-p-font-size,20px);
    color: var(--single-item-secondary-color);
}

/*
* Member
*/

.member {
  background-color: var(--main-background-color);
  color: var(--main-color);
  font-size: var(--single-item-font-size,15px);
  padding: var(--single-item-padding,20px);
  margin-right: var(--single-item-margin-right,5px);
  margin-left: var(--single-item-margin-left,5px);
  margin-bottom:var(--single-item-margin-bottom,10px);
  margin-top:var(--single-item-margin-top,10px);
}

h2,h3,h4.member{
    font-size: var(--single-item-font-size,17px);
    color: var(--main-color);
}
/* Projects */

.project-thumb {
  background-color: var(--single-item-background-color);
  color: var(--single-item-color);
  font-size: var(--single-item-font-size,15px);
  padding: var(--single-item-padding,20px);
  margin-right: var(--single-item-margin-right,5px);
  margin-left: var(--single-item-margin-left,5px);
  margin-bottom:var(--single-item-margin-bottom,10px);
  margin-top:var(--single-item-margin-top,10px);
}
div.project-thumb{
  border: var(--single-item-border);
}
h3.project-thumb{
    font-size: var(--single-item-h3-font-size-large,20px);
    color: var(--single-item-color);
}
p.project-thumb{
    font-size: var(--single-item-p-font-size,15px);
    color: var(--single-item-color);
}

.locale-picker {
    background-color: var(--secondary-background-color);
    color: var(--secondary-color);
}
