/**
 * All of the CSS for your public-facing functionality should be
 * included in this file.
 */


 :root {
     /* fonts */
     --site-title-font-size : 30px;
     --small-font-size : 10px;
     --medium-font-size : 13px;
     --normal-font-size : 14px;
     --large-font-size : 20px;
     --title-font-size : 18px;

     --font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
     --main-color : orange;
     --main-focus-color : red;
     --alt-color : purple;


     /* background */
     --main-background-color : lightgray;
     --alt-background-color : lightgray;


      }





  /****************************
  ********** Sidebar **********
  *****************************/

  @media only screen and (min-width: 1024px) {
    /* define mobile specific styles come here */
    .wpri-sidebar-frame {
      position:fixed;
      width :22%;
    }
  }


.news-list {
  margin-top: 0;
  font-family: var(--font-family);
  font-weight: normal;
  color: var(--main-color);
}


  /****************************
  ********** Header  **********
  *****************************/

h1.site-title{
    font-size: var(--site-title-font-size,30px);
    font-family: var(--font-family);
    color: var(--main-color);
    margin-top: 35px;
    margin-bottom: 2px;
}

.masthead {
    background-color: var(--main-background-color);
    color: var(--main-color);
    text-align: center;
    width: 100%;
    border : 0px;
    font-size: var(--large-font-size);
}

.locale-picker {
    background-color: var(--main-background-color);
    color: var(--main-color);
    font-size: var(--medium-font-size);
}
.locale-picker:hover {
    background-color: var(--main-background-color);
    color: var(--main-focus-color);
    font-size: var(--medium-font-size);
}
/* navbar */
.navbar-default {
    background-color: var(--main-background-color);
    border-color: var(--main-background-color);
}
/* Title */
.navbar-default .navbar-brand {
    color: var(--main-color);
    font-size: var(--large-font-size);
}
.navbar-default .navbar-brand:hover,
.navbar-default .navbar-brand:focus {
    color: var(--main-focus-color);
    font-size: var(--large-font-size);
}
/* Link */
.navbar-default .navbar-nav > li > a {
    color: var(--main-color);
    font-size: var(--large-font-size);
}
.navbar-default .navbar-nav > li > a:hover,
.navbar-default .navbar-nav > li > a:focus {
    color: var(--main-focus-color);
}
.navbar-default .navbar-nav > .active > a,
.navbar-default .navbar-nav > .active > a:hover,
.navbar-default .navbar-nav > .active > a:focus {
    color: var(--main-color);
    background-color: var(--main-background-color);;
}
.navbar-default .navbar-nav > .open > a,
.navbar-default .navbar-nav > .open > a:hover,
.navbar-default .navbar-nav > .open > a:focus {
    color: #555;
    background-color: var(--main-background-color);;
    font-size: var(--large-font-size);
}
/* Caret */
.navbar-default .navbar-nav > .dropdown > a .caret {
    border-top-color: #777;
    border-bottom-color: #777;
}


  /****************************
  ********** Footer  **********
  *****************************/

.footer {
    background-color: var(--main-background-color);
    color: var(--main-color);
    text-align: center;
    width: 100%;
    border : 0px;
    font-size: var(--large-font-size);
}

/****************************
********** Body  **********
*****************************/

.main-content-container{
    width: 90%;
}


  body {
      font-family: var(--font-family);
      color: var(--main-color);
  }

  h1, .h1,
  h2, .h2,
  h3, .h3,
  h4, .h4,
  h5, .h5,
  h6, .h6 {
    margin-top: 0;
    font-family: var(--font-family);
    font-weight: normal;
    color: var(--main-color);
  }

  /****************************
  ********** Single  **********
  *****************************/


  .list-group-item {
    margin-top: 0;
    font-family: var(--font-family);
    font-weight: normal;
    color: var(--main-color);
    font-size: var(--normal-font-size);
  }

  a.list-group-item {
    margin-top: 0;
    font-family: var(--font-family);
    font-weight: normal;
    color: var(--main-color);
    font-size: var(--normal-font-size);
  }
  a.list-group-item:hover {
    color: var(--main-focus-color);
  }

  h3.single {
    margin-top: 0;
    font-family: var(--font-family);
    font-weight: normal;
    color: var(--main-color);
    font-size: var(--normal-font-size);
  }
